<div class="w-full mb-4 px-4 bg-grey-light border-grey border-solid border-b clearfix">
  <div class="float-left flex">
    <a href="" class="text-grey-darkest font-semibold no-underline mr-6 hover:text-grey-darker block py-3">
      <fa-icon [icon]="['fas', 'home']"></fa-icon>
      Home
    </a>

    <a href="" *ngFor="let item of config" (mouseenter)="primaryMouseEnter(subNavKey(item))" (mouseleave)="primaryMouseLeave()" class="text-grey-darkest no-underline hover:text-grey-darker block py-3 px-2">
      {{ item.text }}
    </a>
  </div>

  <div class="float-right flex">
    <a
      routerLink="/logout"
      class="text-grey-darkest no-underline hover:text-grey-darker block py-3">
      <fa-icon [icon]="['fal', 'sign-out']" [fixedWidth]="true"></fa-icon>
      Logout
    </a>
  </div>
</div>

<div *ngIf="showSubNavOf" (mouseenter)="secondaryMouseEnter()" (mouseleave)="secondaryMouseLeave()" class="w-full -mt-4 mb-4 px-4 bg-grey-lightest border-grey-light border-solid border-b flex flex-wrap">
  <a *ngFor="let item of subnav" class="text-grey-darkest no-underline hover:text-grey-darker mx-2 py-3 block">
    {{ item.text }}
  </a>
</div>
