<div class="container mx-auto px-4">
  <div class="flex justify-center items-center h-screen">
    <div class="w-full">
      <!-- In-Progress and Failure messages -->
      <div *ngIf="['in-progress', 'failed'].includes(loginAttemptMessage?.status)" class="text-center m-4">
        <span
          *ngIf="loginAttemptMessage?.status === 'in-progress'"
          class="text-blue">
          {{ loginAttemptMessage.msg }}
        </span>

        <span
          *ngIf="loginAttemptMessage?.status === 'failed'"
          class="text-red">
          {{ loginAttemptMessage.msg }}
        </span>
      </div>

      <!-- Login form -->
      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="block">
        <input
          type="text"
          placeholder="Username"
          formControlName="username"
          class="input">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="input">

        <button
          [disabled]="formInvalid"
          class="m-1 block bg-grey-light border-grey hover:border-grey-darker border-solid border p-2 w-64 mx-auto text-center">
          Login
        </button>
      </form>

      <!--<div class="text-center">-->
        <!--<p>Form value: {{ loginForm.value | json }}</p>-->
        <!--<p>Form value: {{ loginForm.status }}</p>-->
        <!--<p>Is logged in: {{ isAuthenticated }}</p>-->
        <!--<p>Login msg: {{ loginAttemptMessage?.msg }}</p>-->
        <!--<a routerLink="/">Home</a>-->
      <!--</div>-->
    </div>
  </div>
</div>
