<div class="w-full px-4 bg-grey-light py-3 border-grey border-solid border-b clearfix">
  <div class="float-left">
  <a href="" class="text-grey-darkest font-semibold no-underline mr-2 hover:text-grey-darker">
    <fa-icon [icon]="['fas', 'home']"></fa-icon>
    Home
  </a>

  <a href="" class="text-grey-darkest no-underline hover:text-grey-darker">
    Hosts
  </a>
  </div>

  <div class="float-right">
    <a
      routerLink="/logout"
      class="text-grey-darkest no-underline hover:text-grey-darker">
      <fa-icon [icon]="['fal', 'sign-out']" [fixedWidth]="true"></fa-icon>
      Logout
    </a>
  </div>
</div>

<div class="container mx-auto px-4">
  <p>{{ model?.email }}</p>

  <img src="https://www.adelaideairport.com.au/web_cam/aalWebCam.jpg" alt="Adelaide Aiport Webcam">
</div>
